@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 224 39% 19%;

    --card: var(--basic-bg);
    --card-foreground: var(--secondary);

    --popover: var(--basic-bg);
    --popover-foreground: var(--secondary);

    --primary: 193 46% 19%;
    --primary-foreground: 0 0% 100%;
    --primary-10: 95, 50%, 95%;
    --primary-5: 96, 33%, 97%;
    --primary-light: 97, 50%, 51%;

    --secondary: 224 39% 19%;
    --secondary-foreground: var(--primary-foreground);
    --secondary-light: 228, 43%, 27%;

    --muted: var(--basic-powder-gray);
    --muted-foreground: var(--basic-soft-gray);

    --accent: 33 100% 96%;
    --accent-foreground: 32 93% 54%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --danger: 353 90% 96%;
    --danger-foreground: 354 82% 58%;

    --success: 136, 48%, 94%;
    --success-foreground: 137, 75%, 38%;

    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --info: 217 89% 61%;
    --info-50: 218, 90%, 80%;
    --info-10: 219, 89%, 96%;
    --info-5: 213, 82%, 98%;

    --border: 214, 10%, 86%;
    --input: 214, 10%, 86%;
    --ring: 223, 3%, 70%;

    --radius: 0.5rem;

    --basic-bg: 0 0% 100%;
    --basic-stroke: 214, 10%, 86%;
    --basic-backfield: 216, 45%, 98%;
    --basic-backfield-2: 219, 93%, 94%;
    --basic-ashen-blue: 224, 12%, 43%;
    --basic-soft-gray: 224, 9%, 59%;
    --basic-light-gray: 224, 9%, 76%;
    --basic-powder-gray: 225, 10%, 92%;
    --basic-off-white: 210, 9%, 96%;

    --text-highlight: 97, 48%, 44%;
    --text-lowlight: 224, 12%, 43%;
    --text-normal: 224, 39%, 19%;

    --icon-light: 228, 43%, 27%;
    --icon-dark: 97, 50%, 51%;

    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);

    --card-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --chips-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    --header-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
    --nav-box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.05);
    --bubble-box-shadow: 0px 0px 32.357px rgba(0, 0, 0, 0.1);
    --landing-button-box-shadow: 0px 12px 20px 0px rgba(100, 166, 59, 0.3);
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.ltr {
  direction: ltr;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.field-sizing-content {
  field-sizing: content;
}

.grid-stack {
  display: grid;
  grid-template-areas: 'stack';
  > * {
    grid-area: 1 /1;
  }
}
